@import '../../../style/variables';

.group-list {
  margin: 10px;
  text-align: left;
  padding: 20px;
  h2 {
    font-weight: bold;
  }
  .group-header {
    display: flex;
    justify-content: space-between;
  }
  .group-info{
    margin: 15px 0px;
  }
}

.group-name{
  width: 100%;
  text-align: center;
  background-color: $gray;
  border: none;
}

.group-people{
  text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    border: 1px solid;
    border-color: $gray;
}