@import '../../../style/variables';

.people-info {
  background-color: $light-gray;
  text-align: center;
  padding: 5px;
}

.people-list {
  padding: 20px;
  h2 {
    font-weight: bold;
  }
}

.add-people {
 padding: 0px;
 .add-people-input {
   width: 100%;
   border-color: $gray;
   height: 100%;
   padding: 5px;
 }
 input::-webkit-input-placeholder{
  text-align: center;
}
}

